
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins","Roboto","Open Sans", sans-serif;
  background-image: linear-gradient(#f9f964,#fafa4a);
  color:#090808;
  padding:20px;
  margin-left:  5.5em;
  margin-right: 5.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 200%;
}
h1, h3  {
  font-style:italic;
 text-align: center;
  background-color: #090808;
  color: #ffffff;
}

.heading {
  background-color: #090808;
  color: #ffffff;
  border-radius: 20%;

  padding: 2em;
}

a:hover {
  text-decoration:underline;
  color: #fc0505
}
